.list {
  display: list-item;
  float: center;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  }
.list li:hover {
  background: #000;
  }
.list a {
  text-decoration: none;
  }
