.list {
  display: flex;
  align-items: center;
  justify-content: center;
  }

.list li a {
  display: list-item;
  }
.list {
  display: list-item;
  margin: 0;
  padding: 0;
  zoom:1;
  }
.list li {
  display: list-item;
  float: center;
  width: 100px;
  min-height: 1.5em;
  background: #222;
  border: #444 solid 2px;
  padding: 3px;
  margin: 4px;
  list-style-type: none;
  }
.list li:hover {
  background: #000;
  }
.list a {
  text-decoration: none;
  }
.list li ul {
  visibility: hidden;
  position: center;
  padding-top: 10px;
   }
.list li ul li {
  float: center;
  position: center;
  width: 150px;
  text-align: center;
  }
}
