.list {
  display: list-item;
  float: center;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  }
.list li:hover {
  background: #000;
  }
.list a {
  text-decoration: none;
  }

  /* LIST #2 */
  .list2 {
    width:320px;
  }
  .list2 ul {
    font-style:italic; font-size:24px; color:#bfe1f1;
  }
  .list2 ul li {
  }
  .list2 ul li p a {
    padding:8px; font-style:normal; font-size:13px; color:#eee; border-left: 1px solid #999;
  }
  .list2 ul li p em a {
    display:block;
  }

  /* LIST #3 */
  .list3 {
    color:#eee;
    align-items: center;
  }
  .list3 ul { font-size:18px; }
  .list3 ul li { }
  .list3 ul li ul { list-style-image: url("images/bg.png"); padding:5px 0 5px 18px; font-size:15px; }
  .list3 ul li ul li { color:#bfe1f1; height:15px; margin-left:10px; }
