body {
  font-family: 'Helvetica', 'Arial';
  font-weight: normal;
  color: white;
  background-color: black;
}

head {
  color: #990000;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
    	text-shadow: -1px 3px 3px rgba(0, 0, 0, 0.68);
}


hr {
  clear: both;
  visibility: hidden;
}

a {
  color: green;
  text-decoration: none;
}
a:link {
  color: green
}

a:hover {
  color: red;
}
  /* selected link */
  a:active {
  color: yellow;
  }
}
