body {
  font-family: 'Helvetica', 'Arial';
  font-weight: normal;
  color: #ffff66;
  /* background-color: #24292E; */
}

head {
  color: #990000;
}

hr {
  clear: both;
  visibility: hidden;
}

a {
  color: #EBC3E8;
}

#fotter {
  position: fixed;
  bottom: 0;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #ffeae6;
}

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: red;
  }
  /* visited link */
  a:visited {
  color: green;
  }
  /* selected link */
  a:active {
  color: yellow;
  }
}
