body {
  font-family: 'Helvetica', 'Arial';
  font-weight: normal;
  color: #EBC3E8;
  background-color: #24292E;
}

head {
  color: #EBC3E8;
}

hr {
  clear: both;
  visibility: hidden;
}

a {
  color: #EBC3E8;
}

#fotter {
  position: fixed;
  bottom: 0;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #882e7e;
}

#applyCSS>* {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111111;
  }
}
