[submodule "themes/hugo-cloak-email"]
	path = themes/hugo-cloak-email
	url = https://github.com/martignoni/hugo-cloak-email.git
[submodule "themes/hugo-cite"]
	path = themes/hugo-cite
	url = https://github.com/loup-brun/hugo-cite.git
