{{ define "main" }}
  <article class="post">
    <header class="post-header">
      <h1 class ="post-title">{{ .Title }}</h1>
      {{- if ne .Type "page" }}
      <div class="post-meta">
        <ul class="posts-list">
         <li style="display:inline">
         <span class="posts-list-item-description">
          {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
          Published: {{ .PublishDate.Format "2 January 2006" }}
          <span class="posts-list-item-separator">·</span>
          {{ partial "icon.html" (dict "ctx" $ "name" "edit-3") }}
          Last Update: {{ .Lastmod.Format "2 January 2006" }}
        </ul>
	<ul class="posts-list">
        <li style="display:inline">
	  <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
            {{ .ReadingTime }} min read
          <span class="posts-list-item-separator">·</span>
            {{ partial "icon.html" (dict "ctx" $ "name" "info") }}
            {{ .WordCount }} words
	</span>
	</ul>
        {{- with .Params.tags }}
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
          {{- range . -}}
            {{ with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}
              <a class="tag" href="{{ .Permalink }}">{{ .Title }}</a>
            {{- end }}
          {{- end }}
        </div>
        {{- end }}
      </div>
      {{- end }}
    </header>
    <div class="post-content">
      {{ .Content }}
    </div>
    <div class="post-footer">
      {{ partial "posts/giscus.html" . }}
    </div>
  </article>
{{ end }}
